<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create Order</title>
</head>
<body>
<div align="center">
    <h1>Create Order</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${product}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Order Id:</td>
                <td>
                    <input type="text" th:field="*{order_id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>User Id:</td>
                <td>
                    <input type="text" th:field="*{user_id}" />
                </td>
            </tr>
            <tr>
                <td>Order Date:</td>
                <td><input type="text" th:field="*{order_date}" /></td>
            </tr>
            <tr>
                <td>Order Time:</td>
                <td><input type="text" th:field="*{order_time}" /></td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>