<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Order</title>
</head>
<body>
<form name="Create New Order" method="post" th:action="@{/Create_Order}" class="">
    <table width="40%" bgcolor="0099CC" align="center">

        <tr>
            <td colspan=2><center><font size=4><b>Create New Order</b></font></center></td>
        </tr>

        <tr>
            <td>Order ID:</td>
            <td><input type="text" size=25 name="order_id"></td>
        </tr>

        <tr>
            <td>User Id:</td>
            <td><input type="text" size=25 name="user_id"></td>
        </tr>

        <tr>
            <td>Order Date:</td>
            <td><input type="date" size=25 name="order_date"></td>
        </tr>

        <tr>
            <td>Order Time:</td>
            <td><input type="time" size=25 name="order_time"></td>
        </tr>

        <tr>
            <td>Item Id:</td>
            <td><input type="int" size=25 name="item_id"></td>
        </tr>

        <tr>
            <td>Quantity:</td>
            <td><input type="int" size=25 name="quantity"></td>
        </tr>

        <tr>
            <td>Price:</td>
            <td><input type="int" size=25 name="total"></td>
        </tr>



        <tr>
            <td ><input type="Reset"></td>
            <td><input type="submit" onclick="return check(this.form)" value="Create"></td>
        </tr>

    </table>
</form>


</body>
</html>