<html>
<head>
    <title>Delete Food</title>
</head>
<body>
<form name="Delete Food" method="post">
    <table width="40%" bgcolor="0099CC" align="center">

        <tr>
            <td colspan=2><center><font size=4><b>Delete Food Page</b></font></center></td>
        </tr>

        <tr>
            <td>Food ID:</td>
            <td><input type="text" size=25 name="food_id"></td>
        </tr>

        <tr>
            <td>Item Id:</td>
            <td><input type="text" size=25 name="item_id"></td>
        </tr>

        <tr>
            <td>Food Name:</td>
            <td><input type="text" size=25 name="food_name"></td>
        </tr>

        <tr>
            <td>Food Type:</td>
            <td><input type="text" size=25 name="food_type"></td>
        </tr>

        <tr>
            <td>Category:</td>
            <td><input type="text" size=25 name="category"></td>
        </tr>

        <tr>
            <td>Quantity:</td>
            <td><input type="number" size=25 name="quantity"></td>
        </tr>

        <tr>
            <td>Price:</td>
            <td><input type="number"  value="0" size=25 name="price"></td>
        </tr>

        <tr>
            <td>Meal Time:</td>
            <td><select id="Meal Time" name="Meal Time">
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>

            </select></td>
        </tr>

        <tr>
            <td ><input type="Reset"></td>
            <td><input type="submit" onclick="return check(this.form)" value="Login"></td>
        </tr>

    </table>
</form>


</body>
</html>