<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Order</title>
</head>
<body>
<form name="Delete Order" method="post" th:action="@{/Delete_Order}" class="">
    <table width="40%" bgcolor="0099CC" align="center">

        <tr>
            <td colspan=2><center><font size=4><b>Delete Order</b></font></center></td>
        </tr>

        <tr>
            <td>Order ID:</td>
            <td><input type="text" size=25 name="order_id"></td>
        </tr>

        <tr>
            <td>User Id:</td>
            <td><input type="text" size=25 name="user_id"></td>
        </tr>

        <tr>
            <td>Order Date:</td>
            <td><input type="date" size=25 name="order_date"></td>
        </tr>

        <tr>
            <td>Order Time:</td>
            <td><input type="time" size=25 name="order_time"></td>
        </tr>

        <tr>
            <td>Order Price:</td>
            <td><input type="number" value="0" size=25 name="order_price"></td>
        </tr>



        <tr>
            <td ><input type="Reset"></td>
            <td><input type="submit" onclick="return check(this.form)" value="Delete"></td>
        </tr>

    </table>
</form>


</body>
</html>