<html>
<head>
    <title>Delete Invoice</title>
</head>
<body>
<form name="Delete Invoice" method="post">
    <table width="40%" bgcolor="0099CC" align="center">

        <tr>
            <td colspan=2><center><font size=4><b>Delete Invoice</b></font></center></td>
        </tr>

        <tr>
            <td>Invoice ID:</td>
            <td><input type="text" size=25 name="invoice_id"></td>
        </tr>

        <tr>
            <td>User Id:</td>
            <td><input type="text" size=25 name="user_id"></td>
        </tr>

        <tr>
            <td>Food ID:</td>
            <td><input type="text" size=25 name="food_id"></td>
        </tr>




        <tr>
            <td ><input type="Reset"></td>
            <td><input type="submit" onclick="return check(this.form)" value="Delete"></td>
        </tr>

    </table>
</form>


</body>
</html>