<html>
<head>
    <title>Edit Product</title>
</head>
<body>
<form name="Edit Product" method="post">
    <table width="40%" bgcolor="0099CC" align="center">

        <tr>
            <td colspan=2><center><font size=4><b>Edit Product Page</b></font></center></td>
        </tr>

        <tr>
            <td>Product ID:</td>
            <td><input type="text" size=25 name="id"></td>
        </tr>

        <tr>
            <td>Product Name:</td>
            <td><input type="text" size=25 name="name"></td>
        </tr>

        <tr>
            <td>Quantity:</td>
            <td><input type="number" size=25 name="quantity"></td>
        </tr>

        <tr>
            <td>Supplier Name:</td>
            <td><input type="text" size=25 name="supplier_name"></td>
        </tr>

        <tr>
            <td>Supply Date:</td>
            <td><input type="date" size=25 name="supply_date"></td>
        </tr>

        <tr>
            <td>Manufacture Date:</td>
            <td><input type="date" size=25 name="manufacture_date"></td>
        </tr>

        <tr>
            <td>Expire Date:</td>
            <td><input type="date" size=25 name="expire_date"></td>
        </tr>

        <tr>
            <td>Price:</td>
            <td><input type="number" size=25 name="price"></td>
        </tr>

        <tr>
            <td>Image:</td>
            <td><input type="image"  size=25 name="image"></td>
        </tr>

        <tr>
            <td ><input type="Reset"></td>
            <td><input type="submit" onclick="return check(this.form)" value="Login"></td>
        </tr>

    </table>
</form>


</body>
</html>