<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Invoice</title>
</head>
<body>
<form name="Create Invoice" method="post" th:action="@{/Invoice}" class="">
    <table width="40%" bgcolor="0099CC" align="center">

        <tr>
            <td colspan=2><center><font size=4><b>Create Invoice</b></font></center></td>
        </tr>

        <tr>
            <td>Invoice ID:</td>
            <td><input type="text" size=25 name="invoice_id"></td>
        </tr>

        <tr>
            <td>User Id:</td>
            <td><input type="text" size=25 name="user_id"></td>
        </tr>

        <tr>
            <td>Food ID:</td>
            <td><input type="text" size=25 name="food_id"></td>
        </tr>

        <tr>
            <td>Invoice Data:</td>
            <td><input type="date" size=25 name="invoice_date"></td>
        </tr>

        <tr>
            <td>Invoice Time:</td>
            <td><input type="time" size=25 name="invoice_time"></td>
        </tr>


        <tr>
            <td ><input type="Reset"></td>
            <td><input type="submit" onclick="return check(this.form)" value="Create"></td>
        </tr>

    </table>
</form>


</body>
</html>