<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View User</title>
</head>
<body>
<form name="View User" method="post" th:action="@{/View_User}" class="">
    <table width="40%" bgcolor="0099CC" align="center">

        <tr>
            <td colspan=2><center><font size=4><b>User Create Page</b></font></center></td>
        </tr>

        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>User Type</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${viewusers}"></tr>
            <td th:text="${user.getUser_id()}"></td>
            <td th:text="${user.getUser_fname()}"></td>
            <td th:text="${user.getUser_lname()}"></td>
            <td th:text="${user.getUser_username()}"></td>
            <td th:text="${user.getUser_email()}"></td>
            <td th:text="${user.getUser_phone()}"></td>
            <td th:text="${user.getUser_password()}"></td>
            <td th:text="${user.getUser_usertype()}"></td>
        <td class="text-center">
            <form action="" method="post">

            </form>
        </td>
        </tbody>


        <tr>
            <td ><input type="Reset"></td>

        </tr>

    </table>
</form>


</body>
</html>