<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Product</title>
</head>
<body>
<form name="View Product" method="post" th:action="@{/View_Product}" class="">
    <table width="40%" bgcolor="0099CC" align="center">

        <tr>
            <td colspan=2><center><font size=4><b>User Create Page</b></font></center></td>
        </tr>

        <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Expire Date</th>
            <th>Supplier Name</th>
            <th>Supply Date</th>
            <th>Manufacture Date</th>
            <th>Product Name</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${viewInventory}"></tr>
        <td th:text="${user.getIntem_id()}"></td>
        <td th:text="${user.getItem_name()}"></td>
        <td th:text="${user.getQuantity()}"></td>
        <td th:text="${user.getPrice()}"></td>
        <td th:text="${user.getExpired_date()}"></td>
        <td th:text="${user.getSupplier_name()}"></td>
        <td th:text="${user.getSupply_date()}"></td>
        <td th:text="${user.getManufactured_date()}"></td>
        <td th:text="${user.getProduct_name()}"></td>
        <td th:text="${user.getImage()}"></td>
        <td class="text-center">
            <form action="" method="post">

            </form>
        </td>
        </tbody>


        <tr>
            <td ><input type="Reset"></td>

        </tr>

    </table>
</form>


</body>
</html>